<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Create our type CartRulesByCustomerGridDataProvider -->
    <virtualType name="CartRulesByCustomerGridDataProvider" type="Veni\CartPriceRulesQualifier\Ui\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object">Veni\CartPriceRulesQualifier\Model\ResourceModel\CartRuleQualifier\Collection</argument>
            <argument name="filterPool" xsi:type="object">CartRulesByCustomerGridFilterPool</argument> <!-- Define new object for filters -->
        </arguments>
    </virtualType>

    <!-- Create our type CartRulesByCustomerGridFilterPool -->
    <virtualType name="CartRulesByCustomerGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Type for cart_rules_qualifier_bycustomer_listing_data_source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cart_rules_qualifier_bycustomer_listing_data_source" xsi:type="string">Veni\CartPriceRulesQualifier\Model\ResourceModel\Grid\CartRuleQualifier\Collection</item>
            </argument>
        </arguments>
    </type>

    <!-- Simulate our class Veni\CartPriceRulesQualifier\Model\ResourceModel\Grid\CartRuleQualifier\Collection -->
    <virtualType name="Veni\CartPriceRulesQualifier\Model\ResourceModel\Grid\CartRuleQualifier\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">veni_cart_rule_qualifier</argument>
            <argument name="resourceModel" xsi:type="string">Veni\CartPriceRulesQualifier\Model\ResourceModel\CartRuleQualifier</argument>
        </arguments>
    </virtualType>
</config>
